<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/global.css' %}">
    {% block extra_css %} <link rel="stylesheet" href="{% static 'css/login.css' %}"> {% endblock %}
    

</head>
<body>
    <h1>Bem vindo(a) ao mundo do cinema</h1>
    <div class="div">
        
        <form class="loginForm" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Entrar</button>
        </form>
        <br>
        <a id="login_a" href="{% url 'signup' %}">REGISTRAR</a>
    </div>     
</body>
</html>
