<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/global.css' %}">
    {% block extra_css %} <link rel="stylesheet" href="{% static 'css/signup.css' %}"> {% endblock %}
    
    

</head>
<body>
    
   <h2>Cadastre-se</h2>
   <div class="div"> 
   <form class="signupForm" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Sign Up</button>
        
    </form>
    
    </div>
    <br>
    <a  href="{% url 'login' %}">voltar</a>
    
</body>
</html>
